<?xml version="1.0"?>

<launch>
  <arg name="mav_name" default="crazyflie"/>
  <arg name="world_name" default="basic"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="enable_wind" default="false"/>
  <arg name="log_file" default="$(arg mav_name)"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>

  <!-- Crazyflie arguments -->
  <!-- Arguments for first Crazyflie -->
  <arg name="uri_1" default="INADDR_ANY://19950" />
  <arg name="tf_prefix_1" default="cf1" />
  <arg name="roll_trim_1" default="0" />
  <arg name="pitch_trim_1" default="0" />
  <arg name="enable_logging_1" default="true" />
  <arg name="enable_parameters_1" default="true" />
  <arg name="use_ros_time_1" default="true" />
  <arg name="enable_logging_imu_1" default="true" />
  <arg name="enable_logging_temperature_1" default="false" />
  <arg name="enable_logging_magnetic_field_1" default="false" />
  <arg name="enable_logging_pressure_1" default="false" />
  <arg name="enable_logging_battery_1" default="false" />
  <arg name="enable_logging_packets_1" default="false" />
  <arg name="color_prop_front_1" default="Blue" />
  <arg name="color_prop_back_1" default="Blue" />
  <arg name="x_1" default="1.0" />
  <arg name="y_1" default="0.0" />
  <arg name="z_1" default="0.03" />

  <!-- Arguments for second Crazyflie -->
  <arg name="uri_2" default="INADDR_ANY://19951" />
  <arg name="tf_prefix_2" default="cf2" />
  <arg name="roll_trim_2" default="0" />
  <arg name="pitch_trim_2" default="0" />
  <arg name="enable_logging_2" default="true" />
  <arg name="enable_parameters_2" default="true" />
  <arg name="use_ros_time_2" default="true" />
  <arg name="enable_logging_imu_2" default="true" />
  <arg name="enable_logging_temperature_2" default="false" />
  <arg name="enable_logging_magnetic_field_2" default="false" />
  <arg name="enable_logging_pressure_2" default="false" />
  <arg name="enable_logging_battery_2" default="false" />
  <arg name="enable_logging_packets_2" default="false" />
  <arg name="color_prop_front_2" default="Green" />
  <arg name="color_prop_back_2" default="Green" />
  <arg name="x_2" default="-1.0" />
  <arg name="y_2" default="0.0" />
  <arg name="z_2" default="0.03" />

  <!-- Arguments for third Crazyflie -->
  <arg name="uri_3" default="INADDR_ANY://19952" />
  <arg name="tf_prefix_3" default="cf3" />
  <arg name="roll_trim_3" default="0" />
  <arg name="pitch_trim_3" default="0" />
  <arg name="enable_logging_3" default="true" />
  <arg name="enable_parameters_3" default="true" />
  <arg name="use_ros_time_3" default="true" />
  <arg name="enable_logging_imu_3" default="true" />
  <arg name="enable_logging_temperature_3" default="false" />
  <arg name="enable_logging_magnetic_field_3" default="false" />
  <arg name="enable_logging_pressure_3" default="false" />
  <arg name="enable_logging_battery_3" default="false" />
  <arg name="enable_logging_packets_3" default="false" />
  <arg name="color_prop_front_3" default="Magenta" />
  <arg name="color_prop_back_3" default="Magenta" />
  <arg name="x_3" default="0.0" />
  <arg name="y_3" default="-1.0" />
  <arg name="z_3" default="0.03" />

  <!-- Arguments for second Crazyflie -->
  <arg name="uri_4" default="INADDR_ANY://19953" />
  <arg name="tf_prefix_4" default="cf4" />
  <arg name="roll_trim_4" default="0" />
  <arg name="pitch_trim_4" default="0" />
  <arg name="enable_logging_4" default="true" />
  <arg name="enable_parameters_4" default="true" />
  <arg name="use_ros_time_4" default="true" />
  <arg name="enable_logging_imu_4" default="true" />
  <arg name="enable_logging_temperature_4" default="false" />
  <arg name="enable_logging_magnetic_field_4" default="false" />
  <arg name="enable_logging_pressure_4" default="false" />
  <arg name="enable_logging_battery_4" default="false" />
  <arg name="enable_logging_packets_4" default="false" />
  <arg name="color_prop_front_4" default="Magenta" />
  <arg name="color_prop_back_4" default="Magenta" />
  <arg name="x_4" default="0.0" />
  <arg name="y_4" default="1.0" />
  <arg name="z_4" default="0.03" />


  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="true"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find crazyflie_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find crazyflie_gazebo)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find crazyflie_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <group ns="cf1">
    <include file="$(find crazyflie_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find crazyflie_gazebo)/models/rotors_description/urdf/$(arg mav_name)_base.xacro" />
      <arg name="enable_wind" value="$(arg enable_wind)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>

      <arg name="uri" value="$(arg uri_1)"/>
      <arg name="tf_prefix" value="$(arg tf_prefix_1)"/>
      <arg name="roll_trim" value="$(arg roll_trim_1)"/>
      <arg name="pitch_trim" value="$(arg pitch_trim_1)"/>
      <arg name="enable_logging" value="$(arg enable_logging_1)"/>
      <arg name="enable_parameters" value="$(arg enable_parameters_1)"/>
      <arg name="use_ros_time" value="$(arg use_ros_time_1)"/>
      <arg name="enable_logging_imu" value="$(arg enable_logging_imu_1)"/>
      <arg name="enable_logging_temperature" value="$(arg enable_logging_temperature_1)"/>
      <arg name="enable_logging_magnetic_field" value="$(arg enable_logging_magnetic_field_1)"/>
      <arg name="enable_logging_pressure" value="$(arg enable_logging_pressure_1)"/>
      <arg name="enable_logging_battery" value="$(arg enable_logging_battery_1)"/>
      <arg name="enable_logging_packets" value="$(arg enable_logging_packets_1)"/>
      <arg name="color_prop_front" default="$(arg color_prop_front_1)" />
      <arg name="color_prop_back" default="$(arg color_prop_back_1)" />
      <arg name="x" default="$(arg x_1)"/>
      <arg name="y" default="$(arg y_1)"/>
      <arg name="z" default="$(arg z_1)"/>
    </include>
  </group>
  
  <group ns="cf2">
      <include file="$(find crazyflie_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find crazyflie_gazebo)/models/rotors_description/urdf/$(arg mav_name)_base.xacro" />
      <arg name="enable_wind" value="$(arg enable_wind)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>

      <arg name="uri" value="$(arg uri_2)"/>
      <arg name="tf_prefix" value="$(arg tf_prefix_2)"/>
      <arg name="roll_trim" value="$(arg roll_trim_2)"/>
      <arg name="pitch_trim" value="$(arg pitch_trim_2)"/>
      <arg name="enable_logging" value="$(arg enable_logging_2)"/>
      <arg name="enable_parameters" value="$(arg enable_parameters_2)"/>
      <arg name="use_ros_time" value="$(arg use_ros_time_2)"/>
      <arg name="enable_logging_imu" value="$(arg enable_logging_imu_2)"/>
      <arg name="enable_logging_temperature" value="$(arg enable_logging_temperature_2)"/>
      <arg name="enable_logging_magnetic_field" value="$(arg enable_logging_magnetic_field_2)"/>
      <arg name="enable_logging_pressure" value="$(arg enable_logging_pressure_2)"/>
      <arg name="enable_logging_battery" value="$(arg enable_logging_battery_2)"/>
      <arg name="enable_logging_packets" value="$(arg enable_logging_packets_2)"/>
      <arg name="color_prop_front" default="$(arg color_prop_front_2)" />
      <arg name="color_prop_back" default="$(arg color_prop_back_2)" />
      <arg name="x" default="$(arg x_2)"/>
      <arg name="y" default="$(arg y_2)"/>
      <arg name="z" default="$(arg z_2)"/>
    </include>
  </group>

  <group ns="cf3">
      <include file="$(find crazyflie_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find crazyflie_gazebo)/models/rotors_description/urdf/$(arg mav_name)_base.xacro" />
      <arg name="enable_wind" value="$(arg enable_wind)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>

      <arg name="uri" value="$(arg uri_3)"/>
      <arg name="tf_prefix" value="$(arg tf_prefix_3)"/>
      <arg name="roll_trim" value="$(arg roll_trim_3)"/>
      <arg name="pitch_trim" value="$(arg pitch_trim_3)"/>
      <arg name="enable_logging" value="$(arg enable_logging_3)"/>
      <arg name="enable_parameters" value="$(arg enable_parameters_3)"/>
      <arg name="use_ros_time" value="$(arg use_ros_time_3)"/>
      <arg name="enable_logging_imu" value="$(arg enable_logging_imu_3)"/>
      <arg name="enable_logging_temperature" value="$(arg enable_logging_temperature_3)"/>
      <arg name="enable_logging_magnetic_field" value="$(arg enable_logging_magnetic_field_3)"/>
      <arg name="enable_logging_pressure" value="$(arg enable_logging_pressure_3)"/>
      <arg name="enable_logging_battery" value="$(arg enable_logging_battery_3)"/>
      <arg name="enable_logging_packets" value="$(arg enable_logging_packets_3)"/>
      <arg name="color_prop_front" default="$(arg color_prop_front_3)" />
      <arg name="color_prop_back" default="$(arg color_prop_back_3)" />
      <arg name="x" default="$(arg x_3)"/>
      <arg name="y" default="$(arg y_3)"/>
      <arg name="z" default="$(arg z_3)"/>
    </include>
  </group>

  <group ns="cf4">
      <include file="$(find crazyflie_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find crazyflie_gazebo)/models/rotors_description/urdf/$(arg mav_name)_base.xacro" />
      <arg name="enable_wind" value="$(arg enable_wind)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>

      <arg name="uri" value="$(arg uri_4)"/>
      <arg name="tf_prefix" value="$(arg tf_prefix_4)"/>
      <arg name="roll_trim" value="$(arg roll_trim_4)"/>
      <arg name="pitch_trim" value="$(arg pitch_trim_4)"/>
      <arg name="enable_logging" value="$(arg enable_logging_4)"/>
      <arg name="enable_parameters" value="$(arg enable_parameters_4)"/>
      <arg name="use_ros_time" value="$(arg use_ros_time_4)"/>
      <arg name="enable_logging_imu" value="$(arg enable_logging_imu_4)"/>
      <arg name="enable_logging_temperature" value="$(arg enable_logging_temperature_4)"/>
      <arg name="enable_logging_magnetic_field" value="$(arg enable_logging_magnetic_field_4)"/>
      <arg name="enable_logging_pressure" value="$(arg enable_logging_pressure_4)"/>
      <arg name="enable_logging_battery" value="$(arg enable_logging_battery_4)"/>
      <arg name="enable_logging_packets" value="$(arg enable_logging_packets_4)"/>
      <arg name="color_prop_front" default="$(arg color_prop_front_4)" />
      <arg name="color_prop_back" default="$(arg color_prop_back_4)" />
      <arg name="x" default="$(arg x_4)"/>
      <arg name="y" default="$(arg y_4)"/>
      <arg name="z" default="$(arg z_4)"/>
    </include>
  </group>
</launch>
