<?xml version="1.0"?>

<launch>
  <arg name="mav_name" default="crazyflie"/>
  <arg name="world_name" default="basic"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>

  <arg name="only_command" default="false" />

  <!--  Handler Arguments       -->
  <arg name="nbQuads" default="1" />
  <arg name="cfPrefix" default="crazyflie" />
  <arg name="udpPort" default="19950"/>
  <arg name="handerName" default="handler1"/>
  <arg name="firstIndex" default="1"/>

  <!-- Crazyflie arguments -->
  <arg name="is_hitl" default="false"/>
  <arg name="enable_logging" default="true" />
  <arg name="enable_parameters" default="true" />
  <arg name="use_ros_time" default="true" />
  <arg name="enable_logging_imu" default="true" />
  <arg name="enable_logging_temperature" default="false" />
  <arg name="enable_logging_magnetic_field" default="false" />
  <arg name="enable_logging_pressure" default="false" />
  <arg name="enable_logging_battery" default="false" />
  <arg name="enable_logging_packets" default="false" />

  <arg name="tf_prefix_1" default="$(arg cfPrefix)1" />
  <arg name="color_prop_front_1" default="Blue" />
  <arg name="color_prop_back_1" default="Blue" />
  <arg name="x_1" default="0.0" />
  <arg name="y_1" default="0.0" />
  <arg name="z_1" default="0.03" />

  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="true"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find crazyflie_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find crazyflie_gazebo)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find crazyflie_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

    <!-- Spawn the crazyflie model -->
  <group ns="$(arg cfPrefix)1">
    <include file="$(find crazyflie_gazebo)/launch/spawn_mav.launch">
      <arg name="is_hitl" value="$(arg is_hitl)"/>
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find crazyflie_gazebo)/models/rotors_description/urdf/$(arg mav_name)_base.xacro" />
      <arg name="tf_prefix" value="$(arg tf_prefix_1)"/>
      <arg name="color_prop_front" default="$(arg color_prop_front_1)" />
      <arg name="color_prop_back" default="$(arg color_prop_back_1)" />
      <arg name="x" default="$(arg x_1)"/>
      <arg name="y" default="$(arg y_1)"/>
      <arg name="z" default="$(arg z_1)"/>
    </include>
  </group>

  <!-- Spawn the crazyflie handler model -->
  <group ns="$(arg handerName)">
    <include file="$(find crazyflie_gazebo)/launch/spawn_plugin.launch">
      <arg name="plugin_name" value="$(arg handerName)" />
      <arg name="nbQuads" value="$(arg nbQuads)" />
      <arg name="cfPrefix" value="$(arg cfPrefix)" />
      <arg name="udpPort" value="$(arg udpPort)" />
      <arg name="firstIndex" value="$(arg firstIndex)" />

      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="enable_parameters" value="$(arg enable_parameters)"/>
      <arg name="use_ros_time" value="$(arg use_ros_time)"/>
      <arg name="enable_logging_imu" value="$(arg enable_logging_imu)"/>
      <arg name="enable_logging_temperature" value="$(arg enable_logging_temperature)"/>
      <arg name="enable_logging_magnetic_field" value="$(arg enable_logging_magnetic_field)"/>
      <arg name="enable_logging_pressure" value="$(arg enable_logging_pressure)"/>
      <arg name="enable_logging_battery" value="$(arg enable_logging_battery)"/>
      <arg name="enable_logging_packets" value="$(arg enable_logging_packets)"/>
    </include>
  </group>

  <group ns= "$(arg cfPrefix)1">
    <node pkg="joy" name="joy" type="joy_node" output="screen" >
      <param name="autorepeat_rate" value="50"/>
    </node>

    <node pkg="crazyflie_gazebo" name="cf_joy" type="joy_control_node" output="screen">
      <param name="only_command" value = "$(arg only_command)" />
      <param name="LB" value="4" />
      <param name="RB" value="5" />
      <param name="LT" value="2" />
      <param name="RT" value="5" />
      <param name="X" value="2" />
      <param name="Y" value="3" />
      <param name="A" value="0" />
      <param name="B" value="1" />
      <param name="Start" value="7" />
      <param name="Back" value="6" />
      <param name="up_down_axis_left" value="1" />
      <param name="left_right_axis_left" value="0" />
      <param name="up_down_axis_right" value="4" />
      <param name="left_right_axis_right" value="3" />
      <param name="left_cross_key" value="6" />
      <param name="right_cross_key" value="6" />
      <param name="up_cross_key" value="7" />
      <param name="down_cross_key" value="7" />
      <param name="takeoff_duration" value="2.0" />
      <param name="land_duration" value="4.0" />
      <param name="takeoff_height" value="0.5"/>
      <param name="groupMask" value="0"/>
    </node>
  </group>

</launch>
