<?xml version="1.0"?>

<launch>
  <arg name="mav_name" default="crazyflie"/>
  <arg name="world_name" default="salle_lix"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>

  <!--  Handler Arguments       -->
  <arg name="nbQuads" default="1" />
  <arg name="cfPrefix" default="cf" />
  <arg name="uri" default="INADDR_ANY://19950"/>
  <arg name="handlerName" default="handler1"/>
  <arg name="firstIndex" default="1"/>

  <!-- Crazyflie arguments -->
  <arg name="enable_logging" default="true" />
  <arg name="enable_parameters" default="true" />
  <arg name="use_ros_time" default="true" />
  <arg name="enable_logging_imu" default="false" />
  <arg name="enable_logging_temperature" default="false" />
  <arg name="enable_logging_magnetic_field" default="false" />
  <arg name="enable_logging_pressure" default="false" />
  <arg name="enable_logging_battery" default="false" />
  <arg name="enable_logging_packets" default="false" />

  <!-- The front propeller are always toward positive x at the beginning -->
  <arg name="tf_prefix_1" default="$(arg cfPrefix)1" />
  <arg name="color_prop_front_1" default="Blue" />
  <arg name="color_prop_back_1" default="Red" />
  <arg name="x_1" default="0.0" />
  <arg name="y_1" default="0.0" />
  <arg name="z_1" default="0.03" />

  <!-- Some custom blocks for every crazyflie in the environment-->
  <rosparam>
      genericLogTopics: ["local_position","target_position"]
      genericLogTopicFrequencies: [10,10]
      genericLogTopic_local_position_Variables: ["stateEstimate.x", "stateEstimate.y", "stateEstimate.z", "stabilizer.roll", "stabilizer.pitch", "stabilizer.yaw"]
      genericLogTopic_target_position_Variables: ["posCtl.targetX", "posCtl.targetY", "posCtl.targetZ", "controller.roll", "controller.pitch", "controller.yaw"]
  </rosparam>

  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="true"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find crazyflie_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find crazyflie_gazebo)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find crazyflie_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- Spawn the crazyflie model -->
  <group ns="$(arg cfPrefix)1">
    <include file="$(find crazyflie_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find crazyflie_gazebo)/models/rotors_description/urdf/$(arg mav_name)_base.xacro" />
      <arg name="color_prop_front" default="$(arg color_prop_front_1)" />
      <arg name="color_prop_back" default="$(arg color_prop_back_1)" />
      <arg name="tf_prefix" value="$(arg tf_prefix_1)"/>
      <arg name="x" default="$(arg x_1)"/>
      <arg name="y" default="$(arg y_1)"/>
      <arg name="z" default="$(arg z_1)"/>
    </include>
  </group>

  <!-- Spawn the crazyflie handler model -->
  <group ns="$(arg handlerName)">
    <include file="$(find crazyflie_gazebo)/launch/spawn_plugin.launch">
      <arg name="plugin_name" value="$(arg handlerName)" />
      <arg name="nbQuads" value="$(arg nbQuads)" />
      <arg name="cfPrefix" value="$(arg cfPrefix)" />
      <arg name="uri" value="$(arg uri)" />
      <arg name="firstIndex" value="$(arg firstIndex)" />

      <arg name="enable_logging" value="$(arg enable_logging)"/>
      <arg name="enable_parameters" value="$(arg enable_parameters)"/>
      <arg name="use_ros_time" value="$(arg use_ros_time)"/>
      <arg name="enable_logging_imu" value="$(arg enable_logging_imu)"/>
      <arg name="enable_logging_temperature" value="$(arg enable_logging_temperature)"/>
      <arg name="enable_logging_magnetic_field" value="$(arg enable_logging_magnetic_field)"/>
      <arg name="enable_logging_pressure" value="$(arg enable_logging_pressure)"/>
      <arg name="enable_logging_battery" value="$(arg enable_logging_battery)"/>
      <arg name="enable_logging_packets" value="$(arg enable_logging_packets)"/>
    </include>
  </group>

</launch>
