<?xml version="1.0"?>

<launch>

  <arg name="only_command" default="false" />
  <arg name="cfPrefix" default="cf1" />
  <arg name="positionTopic" default="local_position" />
  
  <group ns= "$(arg cfPrefix)">
    <node pkg="joy" name="joy" type="joy_node" output="screen" >
      <!-- <param name="autorepeat_rate" value="50"/> -->
    </node>

    <node pkg="crazyflie_gazebo" name="cf_joy" type="joy_control_node" output="screen">
      <param name="positionTopic" value="$(arg positionTopic)" />
      <param name="only_command" value = "$(arg only_command)" />
      <param name="LB" value="4" />
      <param name="RB" value="5" />
      <param name="LT" value="2" />
      <param name="RT" value="5" />
      <param name="X" value="2" />
      <param name="Y" value="3" />
      <param name="A" value="0" />
      <param name="B" value="1" />
      <param name="Start" value="7" />
      <param name="Back" value="6" />
      <param name="up_down_axis_left" value="1" />
      <param name="left_right_axis_left" value="0" />
      <param name="up_down_axis_right" value="4" />
      <param name="left_right_axis_right" value="3" />
      <param name="left_cross_key" value="6" />
      <param name="right_cross_key" value="6" />
      <param name="up_cross_key" value="7" />
      <param name="down_cross_key" value="7" />
      <param name="takeoff_duration" value="2.0" />
      <param name="land_duration" value="4.0" />
      <param name="takeoff_height" value="0.5"/>
      <param name="groupMask" value="0"/>
    </node>
  </group>

</launch>