<?xml version="1.0"?>

<launch>
  <arg name="mav_name" default="crazyflie"/>
  <arg name="model" default="$(find crazyflie_gazebo)/models/rotors_description/urdf/$(arg mav_name)_base.xacro"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.03"/>
  <arg name="enable_ground_truth" default="false"/>
  <arg name="enable_wind" default="false"/>
  <arg name="rotors_description_dir" default="$(find crazyflie_gazebo)/models/rotors_description"/>
  <arg name="tf_prefix" default="$(arg tf_prefix)"/>
  
  <arg name="color_prop_front" default="Blue" />
  <arg name="color_prop_back" default="Red" />


  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro '$(arg model)'
    rotors_description_dir:=$(arg rotors_description_dir)
    enable_ground_truth:=$(arg enable_ground_truth)
    enable_wind:=$(arg enable_wind)
    mav_name:=$(arg mav_name)
    color_prop_back:=$(arg color_prop_back)
    color_prop_front:=$(arg color_prop_front)
    namespace:=$(arg tf_prefix) --inorder"
  />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg tf_prefix)" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -model $(arg tf_prefix)"
   respawn="false" output="screen">
  </node>
</launch>
