<?xml version="1.0"?>
<model>
  <name>cfHandler</name>
  <version>1.0</version>
  <sdf version='1.4'>cfHandler.sdf</sdf>

  <author>
   <name>Franck Djeumou</name>
   <email>frmbouwe@gmail.com</email>
  </author>

  <description>
    This is a model for a handler for multiple CF2.
  </description>
</model>